window {
    background: #eff0f2;
    color: #4a4b4e;
    font-family: Noto Sans, JetBrainsMono Nerd Font;
    font-size: 10pt;
    border: 1px solid #dee2e0;
}

#input {
    padding: 2px;
    margin: 5px;
    border: 0;
    border-radius: 0;
}

#input:active {
    border: 0;
}

#inner-box {
}

#outer-box {
}

#scroll {
    padding: 2px;
    margin: 5px;
}

#text {
    color: #4a4b4e;
}

#entry:selected {
    background: #dee2e0;
}
