/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

* {
    font-family: SauceCodePro Nerd Font;
    font-size: 12pt;
}

window#waybar {
    background: #eee8d5;
    color: #657b83;
}

.topbar {
}


#mode,
#window,
#network,
#pulseaudio,
#battery,
#clock {
    padding: 2px 10px;
    margin: 0;
}


#mode,
#network,
#pulseaudio,
#battery {
    background: #93a1a1;
    color: #eee8d5;
}

#clock {
    background: #657b83;
    color: #eee8d5;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.focused,
#workspaces button.urgent {
    color: #93a1a1;
    box-shadow: none;
    border-radius: 0;
    padding: 0 5px;
}

#workspaces button {
    background: #93a1a1;
    color: #eee8d5;
}

#workspaces button:hover {
    background: #93a1a1;
    color: #eee8d5;
    box-shadow: none;
    font-weight: normal;
}

#workspaces button.focused {
    background: #2aa198;
    color: #eee8d5;
    box-shadow: none;
}
