window {
    background: #efefef;
    color: #4a484d;
    font-family: Noto Sans;
    font-size: 11pt;
    border: 1px solid #5e4b4f;
}

#input {
    padding: 2px;
    margin: 5px;
    border: 0;
    border-radius: 0;
}

#input:active {
    border: 0;
}

#inner-box {
}

#outer-box {
}

#scroll {
    padding: 2px;
    margin: 5px;
}

#text {
    color: #4a484d;
}

#entry:selected #text{
    color: #ffffff;
}

#entry:selected {
    background: #2d45b0;
}
